node_modules

.env

docs/**/*.ct
docs/**/*.md
docs/**/*.yml
docs/**/*.yaml
docs/**/*.png
docs/**/*.jpg
docs/.vuepress/dist
docs/.vuepress/public/img/png/*.jpg
docs/.vuepress/public/img/png/*.png

.temp
.cache
*.log

test_sitebuilder/dest

/img