.theme-default-content p {
    text-align: justify;
}

.theme-default-content figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure > figcaption {
    text-align: center;
}

.hide {
    display: none;
}

.bolder {
    font-weight: bolder;
}

.md-it-underline {
    text-decoration: underline;
  }

.md-it-razradka {
    letter-spacing: 0.4em;
}