// .theme-default-content p {
//     text-align: justify;
// }

.vp-page figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vp-page figure > figcaption {
    text-align: center;
}

.hide {
    display: none;
}

.bolder {
    font-weight: bolder;
}

.md-it-underline {
    text-decoration: underline;
  }

.md-it-razradka {
    letter-spacing: 0.4em;
    margin-right: -0.4em;
}

.vp-page a {
  text-decoration: none !important; 
}

.vp-page a:hover {
  text-decoration: underline !important;
}